h1 {
  color: rgb(231, 172, 95);
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.tasktexttotheside {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tasks {
  margin: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

body {
  background-image: url('neutralcolors.jpg');
  background-size: cover;
}